<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="aiearn.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="aiearn.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <aiearn.Settings>
            <setting name="textBox4" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox3" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox2" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox1" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox5" serializeAs="String">
                <value />
            </setting>
        </aiearn.Settings>
        <aiearn.Settings1>
            <setting name="textBox4" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox3" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox2" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox1" serializeAs="String">
                <value />
            </setting>
        </aiearn.Settings1>
    </userSettings>
</configuration>